@charset "utf-8";

body {
    background-color: rgb(53, 47, 47);
}

.wrapper {
    display: grid;
    grid-template-columns: 425px 425px 425px;
    padding: 5px;
    
}

.item {
    border: solid black 2px;
    height: 250px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

header {
    display: flex;
    justify-content: center;
}